<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="author" content="David Román Castellano ">
  <title>Plantilla Estatica</title>
  <link rel='stylesheet' href="./styles.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
   <div class="container-fluid bg-secondary">
      <div class="container bg-light">
         <!-- CABECERA -->
         <header class="bg-dark">
            <div class="row">
               <div class="col-md-1 text-light ml-2">
                  <p>Logo</p>
               </div>
               <div class="col-md-9 text-light text-right mr-1">
                  <h1 class="display-4">Titulo de la pagina</h1>
               </div>
            </div>
         </header>
         <!-- BARRA DE NAVEGACION -->
         <nav>
            <ul class="nav nav-tabs bg-dark">
              <li class="nav-item">
                <a class="nav-link active text-dark" href="#">Active</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="#">Link</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link text-light" href="#">Link</a>
              </li>
            </ul>
         </nav>
         <!-- IMAGEN CABECERA -->
         <img src="imgcabecera.PNG" class="img-fluid" alt="Responsive image">

         <div class="row">
            <!-- LOGIN Y WIDGETS -->
            <div class="col-md-4">
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <!-- CONTENIDO -->
            <div class="col-md-8">
               <p> ESTE Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
         </div>

         <!-- FOOTER -->

         <footer class="bg-dark text-center py-2 px-2">
            <p class="text-light">Pagina Web hecha por David Román Castellano y Guillermo Palomino Sánchez</p>
         </footer>

      </div>
   </div>
</body>
</html>
